<!-- <div class="container btn-group col-sm-9 d-flex redir1">
  <a class="btn btn-outline-success" routerLink="2">Lien 2</a>
  <a class="btn btn-outline-success" [routerLink]="['/', 'cards', monPath]"
    >Lien 3</a
  >
</div> -->
<div class="container col-sm-9 d-flex">
  <ng-container *ngIf="cards$ | async as cards">
    <div class="list-group">
      <a
        *ngFor="let card of cards"
        [routerLink]="card.cardId"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div>
          <h4>{{ card.name }}</h4>
          <p>{{ card.text }}</p>
          <p>{{ card.cardSet }}</p>
          <p>{{ card.playerClass }}</p>
        </div>
      </a>
    </div>
  </ng-container>
</div>
