.table {
  text-align: center;
}

.redir1 {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.form2 {
  margin-bottom: 2%;
}

img {
  max-height: 10rem;
}

.set,
.classe {
  width: 100%;
  padding: 0 !important;
}
