<app-navbar></app-navbar>
<div class="text1 container d-flex">
  <div class="row col-lg-6 col-sm" style="width: 40%;">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, dolorum
      vero! Optio, doloremque tempore nulla a ad, nostrum aut ea eveniet porro
      laborum provident ullam dolores repellendus. Nesciunt, ut nihil! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Non repellat nemo
      dicta! Perferendis, mollitia optio ducimus at animi pariatur repudiandae
      possimus nostrum, adipisci laboriosam similique! Earum quae labore
      molestias rerum. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Laboriosam, earum similique? Doloremque molestias mollitia rem deleniti,
      maxime ab dolor magni alias, nostrum laudantium laboriosam excepturi sit
      velit hic eos eveniet. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ab odio ut quam architecto quasi, nisi placeat, facilis delectus
      repellendus, sint voluptates perferendis quaerat. A odit est eveniet non!
      Rerum, ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
      praesentium cupiditate, voluptas saepe libero pariatur dolor minus animi
      sed quibusdam! Ducimus voluptatum aperiam amet quam praesentium saepe
      consequatur deserunt qui. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Est omnis ullam esse quidem ducimus provident quo
      exercitationem facere deserunt cum quis accusamus temporibus odit, a,
      maiores hic veniam, error at! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Magni debitis amet deleniti excepturi necessitatibus
      praesentium soluta, rem earum ipsam tempora autem. Unde soluta sint eos
      fugiat nobis aut! Ex, expedita. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Provident, pariatur. Aliquid eius voluptatibus atque nam
      possimus, mollitia ab aperiam vel cupiditate incidunt blanditiis
      doloremque perferendis reprehenderit quas architecto repellat eos. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Veniam doloremque
      facilis ipsam inventore libero, sint autem! Corporis, earum adipisci,
      perspiciatis, voluptate maxime maiores esse expedita ipsum ea ut eum
      quibusdam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam
      veniam nobis voluptatibus. Voluptatem sunt deleniti eos sint eum non est
      reiciendis in facere, rem quidem sequi! Harum id voluptatibus praesentium.
    </p>
  </div>
  <div class="row col-lg-6 col-sm" style="width: 40%;">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, dolorum
      vero! Optio, doloremque tempore nulla a ad, nostrum aut ea eveniet porro
      laborum provident ullam dolores repellendus. Nesciunt, ut nihil! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Non repellat nemo
      dicta! Perferendis, mollitia optio ducimus at animi pariatur repudiandae
      possimus nostrum, adipisci laboriosam similique! Earum quae labore
      molestias rerum. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Laboriosam, earum similique? Doloremque molestias mollitia rem deleniti,
      maxime ab dolor magni alias, nostrum laudantium laboriosam excepturi sit
      velit hic eos eveniet. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ab odio ut quam architecto quasi, nisi placeat, facilis delectus
      repellendus, sint voluptates perferendis quaerat. A odit est eveniet non!
      Rerum, ad! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
      praesentium cupiditate, voluptas saepe libero pariatur dolor minus animi
      sed quibusdam! Ducimus voluptatum aperiam amet quam praesentium saepe
      consequatur deserunt qui. Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Est omnis ullam esse quidem ducimus provident quo
      exercitationem facere deserunt cum quis accusamus temporibus odit, a,
      maiores hic veniam, error at! Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Magni debitis amet deleniti excepturi necessitatibus
      praesentium soluta, rem earum ipsam tempora autem. Unde soluta sint eos
      fugiat nobis aut! Ex, expedita. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Provident, pariatur. Aliquid eius voluptatibus atque nam
      possimus, mollitia ab aperiam vel cupiditate incidunt blanditiis
      doloremque perferendis reprehenderit quas architecto repellat eos. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Veniam doloremque
      facilis ipsam inventore libero, sint autem! Corporis, earum adipisci,
      perspiciatis, voluptate maxime maiores esse expedita ipsum ea ut eum
      quibusdam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam
      veniam nobis voluptatibus. Voluptatem sunt deleniti eos sint eum non est
      reiciendis in facere, rem quidem sequi! Harum id voluptatibus praesentium.
    </p>
  </div>
</div>
<app-btn-display-navbar></app-btn-display-navbar>
