<app-navbar></app-navbar>
<div class="text1 container d-flex">
  <div class="row col-lg-5 col-sm">
    <h1>UNDER THE COVER OF FOG</h1>
    <p>
      A silver-winged surveillance fly buzzes near my ear, and I resist the urge
      to shoo it away. Whoever had worked the magic on it had done a shoddy job,
      first-year mind-mage probably. Seems like the bug spends more time staring
      at me than helping track down weapons shipments. My first few weeks of
      working the docks I hadn't found much, but now not a day goes by without
      me uncovering a crate full of jewel-encrusted battle mallets, or
      bone-carved armor, or poison-infused knives. Tension is brewing in
      Ravnica, I'm sure of it, but House Dimir doesn't expect me to think. They
      expect me to work these covert jobs without getting caught. With crates
      stacked a dozen high and crammed into a maze of thin passageways, my job
      is simple—quick crowbar to the lid, crack the crate's seal, just enough to
      let the bug fly inside, then it zips back out, and we move onto the next .
      . . only this time, a gleam inside the crate catches my attention.
      "Buttress South Whiskey," the label reads, and without another thought,
      the whiskey bottle is in my hands. Expensive, enchanted, and aged in casks
      made from thousand-year-old trees poached from Selesnyan forests. Immoral?
      Maybe. Lucrative? Definitely. Serves them right for not sealing the crate
      with a stronger spell. The bug chirps at me, urging me on, but it's too
      late. My mind's already imagining the pile of gold zinos I could get for
      it. The long, slim bottle would fit nicely into the pocket of my trench
      coat. No one would notice. Suddenly, the bug whistles, then I look up, now
      all too aware of the approaching footsteps I should have been listening
      for. Sloppy, Merret, sloppy. Fog swirls, obscuring me from view, and in
      those last few moments of bought time, I shove the bottle snugly into the
      divot of packing straw, gently tap the lid closed, and then try to look
      inconspicuous. "Ah! Merret!" says Grimbly Wothis, my boss, arms crossed
      over his wide chest, horns scraping against the stacked crates on either
      side of him. He's half-man, half-bull, total grind-hard. "Just the guy I
      was looking for." "Sir?" I say, averting my eyes, trying to blend into my
      surroundings. Wishing I could become invisible. "Fog's too thick, and I've
      got a potential investor wanting to see the harbor. Clear it for me."
      "Can't Warwick do it?" I ask. A little fog I can handle, but despite a
      year of training, I don't have enough focus to clear the harbor. Can't
      concentrate hard enough to inflict nightmares or purge memories. As a
      covert agent of House Dimir, I don't have much to offer except the ability
      to work a crowbar of malintent.
    </p>
  </div>
  <div class="row col-lg-5 col-sm">
    <h1>TESTING THE DARK WATERS</h1>
    <p>
      Not all mad scientists are born into money. Some of us have to earn it,
      and sometimes earning it isn't pretty. As I walk through the sewers
      beneath the Tenth District, knee-deep in sludge, I ignore the bits of
      solid waste bumping up against the repellant spell covering my uniform.
      Instead, I focus on the palatial sprawl of the undercity—the mesmerizing
      domes, stately columns, and an ornate arch inset with a relief depicting
      the signing of the Guildpact. It's a dangerous sort of beauty down here,
      and if it weren't for the noxious gasses and half-million gallons of urine
      and liquified excrement flowing steadily downstream, I'd say it were
      charming. "No time for gawking, I'm afraid," Kel'teth bellows, and I
      notice I've fallen several paces behind my Golgari guide. He's the most
      laid-back troll I've ever met, probably because he's constantly taking
      nibbles from that patch of iridescent mushrooms growing around his
      armpits. Eyes calm yet alert, he urges me forth. A rat's swimming in the
      sludge next to me. A scream wells up in my throat, but I tamp it down, not
      wanting Kel'teth to think I'm unfit for this task. A rat's nearly the same
      as a lab mouse, right? Except lab mice don't have those froth-coated
      fangs. Those menacing eyes. That mesmerizing squeak. I'm overcome with the
      urge to pet it, right there on its furry snout. My hand reaches out,
      shaking, just a little closer . . . A chunk of pitted cement flies past me
      and hits the rat square in the head with a sploosh. It squeals one last
      time, then sinks down into filth-ridden oblivion. I shake off the
      all-consuming thoughts I'd had. What the— "Sewer sirens," Kel'teth says,
      dusting his hands together. "Rabid as all get-out, but they can't attack
      you unless you put your hand in their mouth. Best avoid them." "You know,
      information like that would have been useful before I started the
      assignment," I say, wiping away the sewer backsplash from my lips.
      Kel'teth laughs. "If I'd gone and warned you about every little thing that
      could kill you in the sewers, we definitely wouldn't be having this
      conversation right now." I stick closer to my guide as he briefs me on the
      eight different varieties of flesh-eating water plants that thrive down
      here and gives me tips on how to avoid getting electrocuted by eels. As we
      continue, I notice shadows lurking in dank corners, behind pillars, under
      bridges, and decide that maybe knowledge isn't power. I tune out of
      Kel'teth's lecture and start concentrating on the gear this side job will
      earn me—my very own ballast of arcane induction. One of those solid
      mizzium ones, with the dyna-chromatic retaining bell and
      double-inversion/instant conversion canister. Real Izzet ingenuity right
      there, not like the borrowed one I'm lugging around. I'll be able to do
      analyst jobs like this one three times as fast—detecting and identifying
      mana traces with ease, which will leave me with more time to spend in the
      lab.
    </p>
  </div>
</div>
<router-outlet></router-outlet>
<app-btn-display-navbar></app-btn-display-navbar>
