<form class="form-group" (ngSubmit)="submit(myform)" #myform="ngForm">
  <input
    [(ngModel)]="query"
    type="search"
    class="form-control"
    required
    minlength="3"
    name="val1"
    aria-describedby="Card search engine"
    placeholder="Search"
  />
  <ng-container
    *ngIf="myform.submitted && myform.controls.val1?.errors as errors"
  >
    <ng-container *ngIf="errors.required">
      <div class="help-text text-warning">
        Three letters required
      </div>
    </ng-container>
    <ng-container *ngIf="errors?.minlength as minlength">
      <div class="help-text text-danger">It is {{ minlength | json }}</div>
    </ng-container>
  </ng-container>
  <button type="submit" class="btn btn-outline-success input2">
    Go !
  </button>
</form>
